<article>
  <header>
  <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @movie.description %>
  </p>
  <h3>Rating</h3>
  <p>
    <%= @movie.rating %>
  </p>
  <h3>Released On</h3>
  <p>
    <%= @movie.released_on %>
  </p>
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>
  <h3>Capacity</h3>
  <p>
    <%= pluralize(@movie.capacity, 'spot') %>
  </p>
 <!--  <%= link_to "Reviews", movie_reviews_path(@movie) %> -->

  <%= link_to pluralize(@movie.reviews.size, "review"), 
            movie_reviews_path(@movie) %>

</article>
<%= link_to "Write Review", new_movie_review_path(@movie), 
             class: 'button ok review' %>

<%= link_to "All Movies",root_path %> 
<%= link_to "Edit", edit_movie_path(@movie) %>|
<%= link_to "Delete", movie_path(@movie), method: :delete, data:{confirm: 'Are your sure?'} %>
